@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Inter", sans-serif;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;

}

.container{
    max-width: 1080px;
    width: 100%;
    margin: auto;
}

body{
    background: #8ea812;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d920;
    z-index: 200;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo img{
    width: 70px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-link{
    background: #00000040;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5rem;
    transition: all 0.5s ease;
}

.nav-link:hover, #active, .nav-icons i{
    background: #fff;
    color: #000;
}

nav-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icons i{
    font-size: 20px;
    padding: 10px;
    background: #00000040;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5 ease-in-out;
}